<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-padding">
  <div class="loginform">
    <h2>Login</h2>

    <ion-item lines="none" class="ion-no-padding textfield">
      <ion-label position="stacked">Email :</ion-label>
      <ion-input type="text" placeholder="Enter your email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-no-padding textfield">
      <ion-label position="stacked">Password :</ion-label>
      <ion-input type="text" placeholder="Enter you password"></ion-input>
    </ion-item>
    <div class="forgotcode ion-margin-top">
      <a href="">Forgot your password</a>
    </div>

    <ion-button expand="block" class="ion-margin-top">Login</ion-button>

    <div class="notaccount">
      <ion-text class="ion-text-margin-right">Didn't you have an account ?</ion-text><a routerLink="/register">Create
        your account</a>
    </div>
  </div>
</ion-content>